@charset "utf-8";

* {
    box-sizing: border-box;

    background-color: #F26724;
    color: #772e25;

    font-family: "Architects Daughter", "Amatic SC", 
                  sans-serif, cursive;
    font: 400;
    font-style: normal;
}

html, body {
    height: 99.5%;
}

body {
    display: grid;

    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    grid-template-rows: 85px 85px auto 125px;
    grid-template-areas: "header header header header"
                         "navbar navbar navbar navbar"
                         "main main main main"
                         "footer footer footer footer";
    gap: 10px;
}



/* Code below here is for the intro html page */

/* header section */
header {
    grid-area: header;

    max-width: 98%;
}

header h1 {
    text-align: center;

    font-size: clamp(2rem, 2.5vw, 4rem);
}
/* header section */

/* navbar */
nav {
    grid-area: navbar;
}
div.navbar {
    margin: 0px;
    padding: 0 10%;  
}

.navbar ul {
    margin: auto;
    padding: 0px;
    
    text-align: center;
}

.navbar ul li {
    display: inline-flex;

    list-style-type: none;

    width: 128px;
    height: 77px;
    margin: 0px;
    padding: 0px;

    text-align: center;

    align-items: center;
    justify-content: center;
}

.navbar ul li a {
    background-color: rgba(25, 114, 120, 0.5);
    color: rgba(237, 221, 212, 0.5);

    font-weight: 800;

    padding: 4px 12px;

    text-decoration: none;

    align-self: center;
}

.navbar ul li a:hover {
    background-color: rgb(25, 114, 120);
    color: rgb(237, 221, 212);
}

/* navbar */

/* main section */
main {
    grid-area: main;
}

main h2 {
    text-align: center;
}

.m_container {
    width: 80%;
    height: auto;

    margin: auto;
    padding: 0px;

    text-align: center;

    border: 1px solid;
    border-radius: 25px;
}
/* main section */

/* intro footer */

footer {
    grid-area: footer;

    width: 99.99%;

    text-align: center;
}

.foot-nav {
    overflow: hidden;
}

.foot-nav a {
    color: #edddd4;

    text-align: center;
    text-decoration: none;

    font-size: clamp(.425rem, 2.5vw, .85rem);
}

.foot-nav a.push-left {
    float: left;
}

.foot-nav a:hover {
    color: #283d3b;
    text-shadow: 0px 2px 4px #197278;
}

.foot-nav a.push-right {
    float: right;
}