@charset "utf-8";

* {
    box-sizing: border-box;

    background-color: #F26724;
    color: #772e25;

    font-family: "Architects Daughter", "Amatic SC", 
                  sans-serif, cursive;
    font: 400;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    display: grid;

    grid-template-columns: 31.5% 5% 31.5% 31.5%;
    grid-template-rows: 225px auto 95px;
    grid-template-areas: "header header header header"
                         "nav nav nav nav"
                         "main main main main"
                         "footer footer footer footer";
    gap: 10px;
}

/* Code below here is for the intro html page */

/* nav section */
nav {
    grid-area: nav;
}

/*
.dropMenu {
    position: relative;
    display: inline-block;
}

.menuBtn {
    background-color: #772e25;
    color: #197278;
    padding: 12px 107px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropMenu_content {
    display: none;
    position: absolute;
    background-color: rgba(119, 46, 37, .75) ;
    min-width: 80px;
    z-index: 1;
}

.dropMenu_content a {
    color: #283d3b;
    padding: 12px 86px;
    text-decoration: none;
    display: block;
}

.dropMenu_content a:hover {
    background-color: rgba(119, 46, 37, .5);
}

.dropMenu:hover .dropMenu_content {
    display: block;
}

.dropMenu:hover .menuBtn {
    background-color: rgba(119, 46, 37, .6) ;
}
*/
/* intro nav*/

/* intro / index: header section */
header {
    grid-area: header;

    max-width: 98%;

    /* border: 1px solid; */
}

header h1 {
    margin-left: 14%;

    font-size: 4rem;
}

header h2 {
    margin-left: 42%;

    font-size: 2rem;
}
/* intro / index: header section */

/* intro footer */

footer {
    grid-area: footer;

    width: 99%;

    grid-area: footer;

    position: sticky;
    top: 100vh;
    width: 98%;

    text-align: center;

    /* border: 1px solid; */
}

.foot-nav {
    overflow: hidden;
}

.foot-nav a {
    color: black;

    text-align: center;
    text-decoration: none;

    font-size: clamp(.425rem, 3vw, .85rem);
}

.foot-nav a.push-left {
    float: left;

    padding: 14px 16px;
}

.foot-nav a:hover, .index-main p strong {
    text-shadow: 0px 1px 3px rgb(96, 231, 55);
}

.foot-nav a.push-right {
    float: right;

    padding: 14px 16px;
}