@charset "utf-8";


/* border: 1px solid; */

* {
    box-sizing: border-box;

    background-color: #214761;
    color: #f1f7ed;

    font-family: "allert Stencil", sans-serif;
    font: 400;
    font-style: normal;
}

html, body {
    height: 100vh;
}


body {
    display: grid;

    grid-template-columns: 5% 31.5% 31.5% 31.5%;
    grid-template-rows: 225px auto 95px;
    grid-template-areas: "nav header header header"
                         "main main main main"
                         "footer footer footer footer";
    gap: 5px;
}

/* Code below here is for the intro html page */

/* web215default / index / intro: nav section */
nav {
    grid-area: nav;
}

.dropMenu {
    position: relative;
    display: inline-block;
}

.menuBtn {
    background-color: #91c7b1;
    color: #f1f7ed;
    padding: 12px 107px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropMenu_content {
    display: none;
    position: absolute;
    background-color: rgba(191, 223, 210, .5);
    min-width: 80px;
    z-index: 1;
}

.dropMenu_content a {
    color: #f1f7ed;
    padding: 12px 86px;
    text-decoration: none;
    display: block;
}

.dropMenu_content a:hover {
    background-color: rgba(191, 223, 210, .5);
}

.dropMenu:hover .dropMenu_content {
    display: block;
}

.dropMenu:hover .menuBtn {
    background-color: rgba(191, 223, 210, .5);
}
/* intro nav*/

/* intro / index: header section */
/* index */
header {
    grid-area: header;

    max-width: 98%;
}

header h1 {
    margin-left: 18%;

    font-size: 3.25rem;
}

header h2 {
    margin-left: 40%;

    font-size: 2.5rem;
}
/* intro / index: header section */

/* intro / index: main section */
/* intro html */
main {
    grid-area: main;
}

#m_container {
    display: grid;

    grid-template-columns: 29.25% 69.25%;
    grid-template-rows: auto;
    grid-template-areas: "m_img m_content";
}

#m_img {
    grid-area: m_img;

    text-align: center;
}

#m_img img {
    max-width: 85%;
}

#m_content {
    grid-area: m_content;

    text-align: justify;
    font-size: 16px;

    padding: 10px;

    /* border: 1px solid; */
}

#m_content ul li {
    padding: 4px 12px;
}
/* intro html */
/* index html */
#index_main {
    grid-area: main;

    display: grid;

    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "content content content" 
                         "link link link";
}

#index_main_para {
    grid-area: content;

    font-size: 24px;
    text-align: center;

    padding: 0 11% 4%;

    /* border: 1px solid; */
}

main p a {
    text-decoration: none;
    color: rgba(145, 199, 177, .4);
    /*color: #91c7b1;*/
}

main p a:hover {
    color: #91c7b1;
}

#index_link_area {
    grid-area: link;

    justify-content: space-evenly;

    display: grid;

    grid-template-rows: auto;
    grid-template-areas: "link_a link_b link_c";
    gap: 15px;

    /* border: 1px solid; */
}

#index_link_area a {
    background-color: rgba(145, 199, 177, .4);

    font-size: 20px;

    padding: 8px 80px;
    border: none;
    border-radius: 10px;

    text-decoration: none;
}

#index_link_area a:hover {
    background-color: rgb(145, 199, 177);
}

#link_1 {
    grid-area: link_a;
}

#link_2 {
    grid-area: link_b;
}

#link_3 {
    grid-area: link_c;
}
/* index html */
/* contract html */
#contract_container h3{
    text-align: center;
}

#contract_main_container {
    grid-area: main;

    padding: 0 225px;

    font-size: 20px; 

    /* border: 2px solid; */
}

#contract_main_container ol li {
    list-style-type: none;
    padding: 8px 0;
}

.text_box ol li a, strong {
    color: #91c7b1;
    text-decoration: none;
}
/* contract html */
/* intro / index: main section */

/* intro footer */

footer {
    grid-area: footer;

    bottom: 0;
    width: 99.5%;

    text-align: center;
}

.foot-nav {
    overflow: hidden;
}

.foot-nav a {
    color: black;

    text-align: center;
    text-decoration: none;

    font-size: clamp(.425rem, 3vw, .85rem);
}

.foot-nav a.push-left {
    float: left;
}

.foot-nav a:hover {
    text-shadow: 0px 1px 3px rgb(96, 231, 55);
}

.foot-nav a.push-right {
    float: right;
}