@charset "utf-8";

* {
    box-sizing: border-box;

    background-color: #214761;
    color: #f1f7ed;

    font-family: "allert Stencil", sans-serif;
    font: 400;
    font-style: normal;
}

body {
    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "nav header header header"
                         ".  header header header"
                         "main main main main"
                         "footer footer footer footer";
    gap: 10px;
}

/* Code below here is for the intro html page */

/* intro nav */
nav {
    grid-area: nav;

    /* border: 1px solid; */
}

.dropMenu {
    position: relative;
    display: inline-block;
}

.menuBtn {
    background-color: #91c7b1;
    color: #f1f7ed;
    padding: 16px 214px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropMenu_content {
    display: none;
    position: absolute;
    background-color: rgba(191, 223, 210, .5);
    min-width: 160px;
    z-index: 1;
}

.dropMenu_content a {
    color: #f1f7ed;
    padding: 12px 193px;
    text-decoration: none;
    display: block;
}

.dropMenu_content a:hover {
    background-color: rgba(191, 223, 210, .5);
}

.dropMenu:hover .dropMenu_content {
    display: block;
}

.dropMenu:hover .menuBtn {
    background-color: rgba(191, 223, 210, .5);
}
/* intro nav*/

/* intro header */
header {
    grid-area: header;

    max-width: 98%;

    /* border: 1px solid; */
}

header h1 {
    padding-left: 15%;
}

header h2 {
    padding-left: 30%;
}
/* intro header */

/* intro main */
main {
    grid-area: main;

    max-width: 98.5%;
    height: auto;

    /* border: 1px solid; */
}

#m_container {
    display: grid;

    grid-template-columns: 29.25% 69.25%;
    grid-template-rows: auto;
    grid-template-areas: "m_img m_content";
}

#m_img {
    grid-area: m_img;

    text-align: center;
}

#m_img img {
    max-width: 100%;
}

#m_content {
    grid-area: m_content;

    text-align: justify;
    font-size: 22px;

    padding: auto 10px;

    /* border: 1px solid; */
}

#m_content ul li {
    padding: 8px 6px;
}

/* intro main */

/* intro footer */

footer {
    grid-area: footer;

    width: 99%;

    text-align: center;

    position: fixed;
    left: 10px;
    bottom: 0;

    /* border: 1px solid; */
}

.foot-nav {
    overflow: hidden;
}

.foot-nav a {
    color: black;

    text-align: center;
    text-decoration: none;

    font-size: clamp(.425rem, 3vw, .85rem);
}

.foot-nav a.push-left {
    float: left;

    padding: 14px 16px;
}

.foot-nav a:hover, .index-main p strong {
    text-shadow: 0px 1px 3px rgb(96, 231, 55);
}

.foot-nav a.push-right {
    float: right;

    padding: 14px 16px;
}

/* intro footer */