<footer>
    <p>&copy; 2024 John Gallagher || Jocular Grit || Websmithing &#9763;</p>        
        <ul class="footer-links">
            <li class="validation">
                <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fmasterhazzrd.github.io%2Fweb215%2Fcontract.html"
                    target="_blank" rel="noopener noreferrer">
                    <img src="images/html_validation_button.gif" alt="HTML Validation">
                </a>
            </li>        
            <li>
                <a href="#">Projects</a>
                <ul class="footer-dropdown">
                    <li><a href="https://masterhazzrd.github.io/web115/index.html" target="_blank" rel="noopener noreferrer">WEB115</a></li>
                    <li><a href="https://masterhazzrd.github.io/website/web140/" target="_blank" rel="noopener noreferrer">WEB140</a></li>
                    <li><a href="https://masterhazzrd.github.io/website/web215/" target="_blank" rel="noopener noreferrer">WEB215</a></li>
                    <li><a href="https://github.com/masterHazzrd" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Profiles</a>
                <ul class="footer-dropdown">                    
                    <li><a href="https://masterhazzrd.github.io/" target="_blank" rel="noopener noreferrer">GitHub.io</a></li>
                    <li><a href="https://www.freecodecamp.org/masterHazzrd" target="_blank" rel="noopener noreferrer">freeCodeCamp</a></li>
                    <li><a href="https://www.codecademy.com/profiles/WarpedPerception" target="_blank" rel="noopener noreferrer">Codecademy</a></li>
                    <li><a href="https://www.linkedin.com/in/jgallagher77/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                </ul>
            </li>
            <li class="validation">
                <a href="http://jigsaw.w3.org/css-validator/validator?doc=https%3A%2F%2Fmasterhazzrd.github.io%2Fweb215%2Fcontract.html"
                    target="_blank" rel="noopener noreferrer">
                    <img src="images/css_validation_button.gif" alt="CSS Validation">
                </a>
            </li>
        </ul>
</footer>

