<nav>
    <ul class="nav-links">
        <li><a href="index.html" rel="noopener noreferrer">Home</a></li>
        <li><a href="intro.html" rel="noopener noreferrer">Introduction</a></li>
        <li><a href="contract.html" rel="noopener noreferrer">Contract</a></li>
        <li><a href="brand.html" rel="noopener noreferrer">Brand</a></li>
        <li class="dropdown">
            <a href="#">Forms</a>
            <ul class="dropdown-menu">
                <li><a href="form-1.html" rel="noopener noreferrer">Form1</a></li>
                <li><a href="form-2.html" rel="noopener noreferrer">Form2</a></li>
            </ul>
        </li>
        <li><a href="gsd.html" rel="noopener noreferrer">GSDApp</a></li>
    </ul>
</nav>
