@charset "utf-8";


/*  Style sheet for WEB 110-N851 Spring 2023

    Author: John Gallagher
    Date: 04/19/2023

    Common code below:

    /* border: 1px solid #A7CD3A;
*/

html {
    background-color: rgba(0, 161, 255, .55);
    margin: 0px;

    font-family: 'Architects Daughter', cursive;
}

body {  
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    min-width: 2vw;
}

.split_navbar {
    overflow: hidden;
    width: 99vw;   
}

.split_navbar a {
    color: black;

    float: left;

    font-size: clamp(1em, 3vw, 1.85em); 

    text-align: center;
    text-decoration: none;

    letter-spacing: 2px;
    
    padding: 8px 16px;  
}

.split_navbar a:hover {
    text-shadow: 1px 2px 6px #FF5E00;
}

.split_navbar a.split {
    float: right;
}

header {
    margin: 7px 21px;
    font-size: clamp(1.85em, 5vw, 4.5em);
    text-align: center;
    text-decoration: overline underline;
}

main {
    margin: 7px 21px;

    text-align: justify;
}

.zoom {
    transition: transform .3s;
    width: 726px;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.75);
}

.imgContainer {
    border-radius: 25%;
    box-shadow: 0 0 5px 10px rgba(255,95,0, .55);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(106px, 100%, 484px);
    
    text-align: center;
}

main > .imgContainer > figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: clamp(1.75em, 3vw, 2.25em);
}

main > .text_box > ol {
    list-style-type: upper-roman;
}

.text_box {
    margin: 3vh 10vw;
    font-size: clamp(.8em, 3vw, 1.2em);
}

footer {
    font: small-caps clamp(.4em, 2vw, 1.2em) Trattatello;

    color: black;    

    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 75px;
}

#f_container {
    margin-bottom: 75px;

    text-align: center;
    text-shadow: 1px 2px 4px #FF5E00;
}

#f_container a {
    text-decoration: none;
}

.brand {
    text-align: center;
}
