body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    flex: 1; /* Ensures the main content takes up available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%; /* Ensure footer spans the full width */
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
    margin-bottom: 10px; /* Space between the text and the validation links */
}

footer a {
    margin: 0 5px; /* Adjust spacing between validation links */
    display: inline-block;
}

footer a img {
    vertical-align: middle; /* Align images with each other */
}