* {
    box-sizing: border-box; /* Ensure padding and borders are included in width/height */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure footer stays at the bottom */
    text-align: center;
}
header {
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1;
    width: 80%; /* Take up 66% of the width */
    margin-left: 10%; /* Create a 33% buffer from the left */
    text-align: left; /* Left-align the text inside the main */
    padding: 20px 0;
}

main>h1 {
    font-size: 64px;
    text-align: center;
}

footer {
    background-color: #333; /* Adjust as needed */
    color: white; /* Adjust as needed */
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 100%; /* Prevent footer from causing overflow */
}
